body,
html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.container {
    width: 800px;
    height: 600px;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.block{
    width: 64px;
    height: 64px;
}